<h2 class="text-xl  mt-0">Altere sua senha:</h2>

<form [formGroup]="form">
    <div class="field">
        <label class="input-senha">Senha atual</label>
        <p-password inputId="input-senha" styleClass="w-full " class="w-full" inputStyleClass="w-full"
            formControlName="senha" [toggleMask]="true" [feedback]="false"
            cmpProximoCampo="input-senha-nova"></p-password>
        <small class="text-red-500" *ngIf="form.controls.senha.invalid && form.controls.senha.touched">Preencha
            o
            campo 'Senha'!</small>
    </div>
    <div class="field">
        <label class="input-senha-nova">Nova senha</label>
        <p-password inputId="input-senha-nova" styleClass="w-full " class="w-full" inputStyleClass="w-full"
            formControlName="senhaNova" [toggleMask]="true" [feedback]="false"
            cmpProximoCampo="input-senha-nova-repetida"></p-password>
        <small class="text-red-500" *ngIf="form.controls.senhaNova.invalid && form.controls.senhaNova.touched">Preencha
            o
            campo 'Nova
            senha'!</small>
    </div>
    <div class="field">
        <label class="input-senha-nova-repetida">Repetir nova senha</label>
        <p-password inputId="input-senha-nova-repetida" styleClass="w-full " class="w-full" inputStyleClass="w-full"
            formControlName="senhaNovaRepetida" [toggleMask]="true" [feedback]="false"
            cmpProximoCampo="btn-alterar"></p-password>

        <small class="text-red-500 block "
            *ngIf="form.controls.senhaNovaRepetida.invalid && form.controls.senhaNovaRepetida.touched">*Preencha
            o campo 'Repetir nova senha'!</small>
        <small class="text-red-500 block"
            *ngIf="form.controls.senhaNovaRepetida.value != form.controls.senhaNova.value && form.controls.senhaNovaRepetida.touched">*As
            senhas não são iguais!</small>
    </div>
    <div class="flex flex-column gap-2">
        <button id="btn-alterar" pButton type="button" class="w-full" label="Alterar" (click)="alterar()"></button>
        <button id="btn-cancelar" pButton type="button" class="w-full p-button-secondary" label="Cancelar"
            (click)="fecha()"></button>
    </div>
</form>