<form [formGroup]="form" class="p-inputgroup">
    <p-inputNumber #input [inputId]="inputId" [useGrouping]="false" class="input-code" [maxlength]="14" formControlName="codigo"
        (onKeyDown)="keydown($event)" (onInput)="limpar(); " [cmpControleEnabled]="!disabled"></p-inputNumber>

    <input class="input-text" pInputText formControlName="nome" [cmpControleEnabled]="false" aria-hidden />

    <button  type="button" pButton pRipple [icon]="loading ? 'pi pi-spin pi-spinner':'pi pi-search'" (click)="show()"
        [disabled]="disabled || loading" aria-hidden></button>
</form>