
.input-code {
    flex: 0 0 auto;
}

.input-code,
:host ::ng-deep .p-inputnumber,
:host ::ng-deep .p-inputnumber-input {
    width: 80px !important;
}



.input-text {
    opacity: 1;
    background-color: #e9e9e9 !important;
}